/* .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
} 

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}
*/

.container {
    display: grid;
  
    grid-template-columns: 20% 1fr;
    grid-template-rows: 72px 1fr;
  
    grid-template-areas:
  
    "sidebar head head head"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  
    /* grid-container height = 100% of viewport height */
    height: 100vh;
 }

 .gridSidebar {
    grid-area: sidebar;
 }
 .header {
    grid-area: head;
    box-shadow: 0 1px 0 0 #eaedf3;
 }

 .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}


 .content {
    grid-area: main;
 }

 @media screen and (max-width: 375px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 72px 1fr;
      grid-template-areas:
      "head"
      "main";
    }
 }

 @media (max-width: 375px) {
    display: none;
}